* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

/* :root{

} */

body {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    overflow: hidden;

}

.navbar {
    width: 100vw;
    height: 90px;
    display: flex;
    justify-content: space-between;
    /* justify-content: space-around; */
    background-color: rgb(163, 4, 4);
}

.navbar #img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10rem;
}

.list {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 10rem;


}

.list li>a {
    color: #fff;

}

.container {
    display: flex;
}

.container .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 9rem;
    gap: 1rem;
    margin-left: 3rem;
}

.left h1 {
    font-size: 50px;
    animation: buttomTop 2s ease-in-out;
    animation-fill-mode: forwards;
}

.left p {
    margin-top: 1rem;
    color: rgb(82, 82, 240);
    animation: txtLeft 2s ease-in-out;
    animation-fill-mode: forwards;
}

.button button {
    color: #fff;
    background-color: rgb(211, 4, 4);
    padding: 9px;
    border-radius: 8px;
    border: none;
    width: 90px;
    opacity: 0;
    transition: all 1s ease-in-out;
    animation: btn 7s ease-in-out;
    animation-fill-mode: forwards;




}

.left #contact {
    margin-top: 2rem;
}

.left .line {
    width: 50%;
    height: 1px;
    background-color: rgb(196, 13, 13);
    margin-bottom: 1.5rem;
    animation: lne 3s ease-in-out;
    animation-fill-mode: forwards;
}

.left .icons {
    margin-top: 1rem;
    width: 50%;
    gap: 25px;
    display: flex;
    animation: icons 2s ease-in-out;
    animation-fill-mode: forwards;
}

.left .icons a>img {
    padding: 12px;
    border-radius: 50%;
    border: 1px rgb(196, 13, 13) solid;
    margin-bottom: -17px;

}

.left .icons a:nth-child(1) {
    border-bottom: 15px solid rgb(196, 13, 13);
    /* margin-top: 20px; */
}

.left .icons a:nth-child(2) {
    border-bottom: 15px solid rgb(196, 13, 13);
}

.left .icons a:nth-child(3) {
    border-bottom: 15px solid rgb(196, 13, 13);
}

.container .right {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    /* transition: all 3s ease-in-out; */



}

.container .right img {
    width: 80%;
    /* height: 50%; */
    animation: img 3s ease-in-out;
    animation-fill-mode: forwards;
    transition: all 3s ease-in-out;
    transform: rotateY(180deg);
    

    
}
.right:hover{
    transform: rotateY(180deg);
}

.left .button button:hover {
    transform: rotateY(180deg);

}
.navbar .menu-icon{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    display: none;
}
/* .navbar #open{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-right: 7rem;
    display: none;
} */

@keyframes buttomTop {
    from {
        transform: translateY(600px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes txtLeft {
    from {
        transform: translateX(-800px);
        opacity: 0.1;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes btn {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;


    }
}

@keyframes img{
    from{
        transform: translateY(-800px);
        opacity: 0;
    }
    to{
       transform: translateY(0);
       opacity: 1;
    }
}


@keyframes icons{
    from{
        transform: translateX(1600px);
        opacity: 0;
    }
    to{
       transform: translateY(0);
       opacity: 1;
    }
}

@keyframes lne {
    from {
        opacity: 0;
        transform: translateX(50vw);

    }

    to {
        opacity: 1;
        transform: translateX(o);


    }
}

@media(max-width:720px){

    .navbar{
        position: relative;
        
    }
    .navbar .list{
        flex-direction: column;
        background-color: rgb(252, 14, 14);
        position: absolute;
        /* justify-content: center; */
        right: -14%;
        z-index: 1;
        width: 50%;
        /* height: 300px; */
        top: 96px;
          display: none;
        
     

    }

    .navbar .list li{
        width: 100%;
        display: flex;
        border-top: 1px solid #fff;
        align-items: center;
        justify-content: center;
        /* padding-top: 15px; */
         margin-top: 8px; 
        /* padding: 6px; */

     
      
        

    }
    .list li a{
        font-size: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }

    .navbar #img{
        margin-left: 60px;
    }
    .navbar .open{
        display: flex;
        margin-right: 60px;
    }

    .navbar .close{
        display: none;
        margin-right: 60px;
    }
    
    .container{
        flex-direction: column;
        align-items: center;
        width: 100vw;
        
    }
    .container .left{
        width: 90%;
    }

    .container .left h1{
        text-align: center;
    }
    .left .line{
        width: 80%;
        position: absolute;
        top: 83%;
    }
    .left .button{
        margin-top: 1rem;
    }
    .left .button button{
        padding: 20px;
        width: 150px;
        font-size: 20px;

    }
    .left .icons{
        width: 80%;
        position: absolute;
        top: 85%;
        display: flex;
        justify-content: center;
    
        
    }
   
    .left p{
        font-size: 25px;
    }
    .left h1{
        margin-top: -2rem;
    }
    .left #contact{
        position: absolute;
        top: 77%;
    }
    .right{
        width: 90%;
        
    }
    .right img{
        width: 100%;
        position: absolute;
        margin-top: -5rem;
        height: 450px;


    }
   
   
}